.list__set__cover {
  justify-content: center;
  align-items: center;
  /* background-color: slategray; */
  padding: 5px;
}

.list__set__cover_img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.list__set {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  /* justify-content: center; */
}

.list__set__info__title {
  font-weight: 580;
  font-size: 27px;
  padding: 10px 13px;
  border-bottom: 1px;
  border-color: black;
}

.list__set__info__artist {
  font-weight: 400;
  font-size: 20px;
  padding: 10px 13px;
  border-bottom: 1px;
}

/* idk */
.list__set__menu i {
  font-size: xxx-large;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 900px;
}
